# bind keys and shortcuts
xbindkeys -f $HOME/.xutils/xbindkeysrc

# transparency support
xcompmgr -c &

# screen locker
systemctl enable --now slock@${USER}.service

# idle actions
## Only exported variables can be used within the timer's command.
export PRIMARY_DISPLAY="$(xrandr | awk '/ primary/{print $1}')"
## times in seconds
export TIME_DIM=60 # inactivity time before dimmming screen
export TIME_LOCK=10 # inactivity time before locking - after dimming
export TIME_SUSPEND=1200 # inactivity time before suspending - after locking
export LOCKER=slock
. $HOME/.xutils/xidlehook

# ---------------
# desktop configs
# ---------------
. $HOME/.xdesktop/desktoprc
