# to be copied to /etc/systemd/system/gloriouslock@.service
# enable with `sudo systemctl enable gloriouslock@username` (e.g. `glorious
# lock@alessandro`) add option `--now` to enable in order to make a try immediately

[Unit]
Description=Lock X session using glorious dotfiles (awesome) lock for user %i

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
# ExecStartPre executed immediately
# use xset to suspend screen immediately, in order not to show
# lock screen before suspending
ExecStartPre=/usr/bin/xset dpms force suspend
#ExecStart=/usr/bin/awesome-client "_G.show_lockscreen()"
ExecStart=/usr/bin/bash -c 'export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u %i)/bus; /usr/bin/awesome-client "_G.show_lockscreen()"'


[Install]
WantedBy=sleep.target suspend.target

