# to be copied to /etc/systemd/system/slock@.service
[Unit]
Description=Lock X session using slock for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/local/bin/slock -m " $$USER"$$'\n'"-$${USER//?/-}-"

[Install]
WantedBy=sleep.target
