[Unit]
Description=Filebrowser

[Service]
ExecStart=/usr/local/bin/filebrowser -c %h/.config/filebrowser.toml -d %h/.cache/filebrowser.db

[Install]
WantedBy=default.target
